*{
    background-color: indigo;
}
.container{
    transform: translate(120%, 20%);
    border-radius: 4px;
    background-color: transparent;
    color: white;
    width: 370px;
    }
h1{
    padding-bottom: 10px;
}
input{
    border-radius: 20px;
    border: 1px solid red;
}
footer{
    margin-top: 60px;
}
button{
    border: none;
    border-radius: 10px;
    background-color: red;
    width: 250px;
    height: 25px;
    color: white;
    transition-duration: 0.4s;
}
button:hover{
    background-color: rgb(159, 51, 51);
    cursor: pointer;
    
}